@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: One Piece;
    src: url("../fonts/one\ piece\ font.ttf");
}


#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: "Roboto", sans-serif;
    /* letter-spacing: .5rem; */
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    overscroll-behavior: none;
    cursor: default;
}

main section {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

main section.active {
    display: flex;
    transition: 1s ease-in;
}

.saga-title {
    font-family: "One Piece", sans-serif;
    font-size: 5rem !important;
    width: 100%;
    text-align: center;
    letter-spacing: .7rem;
    margin: 0;
    padding-top: 3vh;
}

.saga-subtitle {
    font-family: "One Piece", sans-serif;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    letter-spacing: .6rem;
    margin: 0;
    padding-bottom: 5vh;
}

#home-section .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150vw;
}

.slider-inner {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 15%;
    width: 100%;
    height: 70%;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    width: 400px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: .2s ease-in-out;
}

.item:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
}

.img {
    position: absolute;
    left: -100px;
    width: 1000px;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.home-arc-title {
    position: absolute;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
}

@media (max-width: 1600px) {
    .saga-title {
        font-size: 3rem !important;
    }

    .saga-subtitle {
        font-size: 2rem;
    }

    .item {
        width: 300px;
    }

    .img {
        width: 600px;
        left: -50px;
    }

    .home-arc-title {
        font-size: 1.6rem;
        padding: 1.5rem;
    }
}