body {
    font-family: Roboto;
    overflow: hidden;
    width: 100vw;
}

/* Scroll snapping */
.mandatory-scroll-snapping {
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

/* Titles */
#title {
    justify-content: center;
    align-items: center;
    font-size: 7vw !important;
    text-align: end;
    width: 100vw;
    padding: 0;
}

.arc-background h2 {
    text-transform: uppercase;
}

/* Content */
.container {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
}

.arc-background,
#title {
    display: flex;
    position: relative;
    /* width: fit-content; */
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 1.5vw;
    scroll-snap-align: center;
}

/* Set background and make it less bright */
.arc-background::before,
#title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/wallpaperbetter.com_3840x2160.jpg");
    background-size: cover;
    background-position: bottom;
    filter: brightness(0.5);
    z-index: -1;
}

/* Arc display */
.arc-background>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.arc-title {
    display: flex;
    flex-direction: row;
    width: 15vw;
    writing-mode: sideways-lr;
    font-size: 3.5vw;
    overflow: hidden;
    /* background-color: #045daa; */
}

.arc-title-text {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    animation: scrollTextUp 16s linear infinite;
}

.second-text {
    color: rgb(68, 68, 191);
    transform: translateY(200%);
    animation: scrollTextUp-2 16s linear infinite 8s;
}

.left {
    width: 20vw;
    /* background-color: #ccc; */
}

.center {
    justify-content: space-between;
    width: 45vw;
    /* background-color:cornflowerblue; */
}

.right {
    width: 20vw;
    /* background-color:darksalmon; */
}

/* Progress bar */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* The progress container */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

/* The progress bar */
.progress-bar {
    height: 8px;
    background: #045daa;
    width: 0%;
}

/* Animations */
@keyframes scrollTextUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-200%); }
}

@keyframes scrollTextUp-2 {
    0% { transform: translateY(200%); }
    100% { transform: translateY(-100%); }
}